/* * {
  background-color: #E75296;
  color: black;
} */

.JP_title {
  display: flex;
  align-items: stretch;
  justify-content: center;
  color: #9fd8f5;
  font-size: 6em;
}

.JP_image {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 8em;
}

.JP_image {
  display: flex;
  justify-content: center;
  margin: auto;
}

.JP_subtitle {
  display: flex;
  justify-content: center;
  color: #E75296;
  font-size: 4em;
  
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0%
}

.fbstyle{
  width: 300px;
  padding: 10px 10px 10px 10px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  font-size: 35px;
}

.nav-tabs ul{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  font-size: 25px;
  gap: 2rem;
  margin-bottom: 0;
  margin-bottom: 0;
}

.nav-tabs ul a{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}


.recs-btn a {
  text-decoration: none;
}

.header-img {
  height: 8rem;
}

.testimonial-h{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  color:#9fd8f5;
}

.testimonial-a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color:#E75296;
}

.testimonial-b{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color:#9fd8f5;
}


.JP_logo{
  height: 100px;
  height: 100px;
}
.logo-container{
  padding: 0px;
  margin: 0px;
  width: 1rem;
}

.background{
  background-color: #4174e2;
}

.logout-btn button{
  color: #4174e2;
}